.photo {
    border: 1px solid black;
    width:250px;
    float: left;

    .photo-outer {
        width: 100%;
        height: 200px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }
}