.App {
        
    p {
        font-size: 18px;
        font-weight: bold;
        font-family: "arial";
    }
    .photo-grid {
        display: flex;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 0 auto;
    }
    .single-photo {
        max-width: 900px;
        margin: 0 auto;
        display: flex;
        background: white;
        .grid-figure {
            box-shadow:none;
            margin: 0 2rem 0 0;
            border: 0;
            padding: 0;
            flex: 1 0 60%;
            max-width: 60%;
        }
            
        .comments {
            flex: 1 0 40%;
            max-width: 40%;
        }
            
        .grid-photo {
            width: 100%;
            margin: 0;
        }
            
    }
}